[color]
	ui = auto
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
    st = status -sb
[user]
	email = malzraa@gmail.com
	name = Ben Keller
[merge]
	tool = vimdiff
